.grp-wrapper{
    width:50%;
    float: left;
}
.group {
    border:solid 1px #eee;
    margin:0 10px 10px 10px;
    border-radius:5px;
}
.title {
    height:25px;
    color:#fff;
    background-color: #164178;
    padding: 3px;
    box-sizing: border-box;
    font-size: 1.2em;
}
.flag{
    width: 50px;
    height: 100%
}
.flag img{
    width: 100%;
    height:auto;
}
.teams{
    list-style: none;
    padding:0 10px;
}
.team {
    display: block;
    height: 40px;
}
.tname{
    font-size:1.1em;
}